@using Hik.DTO.Config;
@model BaseConfig

<div class="form-group">
    <label asp-for="@Model.Timeout" class="control-label"></label>
    <input asp-for="@Model.Timeout" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="@Model.DestinationFolder" class="control-label"></label>
    <input asp-for="@Model.DestinationFolder" class="form-control" />
</div>