@using Hik.DTO.Contracts;
@model TriggerModel

@if (!string.IsNullOrEmpty(Model.Dto.Name))
{
    <input type="hidden" asp-for="Dto.Name" />
    <input type="hidden" asp-for="Dto.Group" />
    <input type="hidden" asp-for="Dto.Id" />
}
else
{
    <div class="form-group">
        <label asp-for="Dto.Group" class="control-label"></label>
        <input asp-for="Dto.Group" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Dto.Name" class="control-label"></label>
        <input asp-for="Dto.Name" class="form-control" />
    </div>
}

<div class="form-group">
    <label asp-for="Dto.CronExpression" class="control-label"></label>
    <input asp-for="Dto.CronExpression" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Dto.Description" class="control-label"></label>
    <input asp-for="Dto.Description" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Dto.IsEnabled" class="control-label"></label>
    @Html.CheckBoxFor(m => m.Dto.IsEnabled)
</div>
<div class="form-group">
    <label asp-for="Dto.ShowInSearch" class="control-label"></label>
    @Html.CheckBoxFor(m => m.Dto.ShowInSearch)
</div>
<div class="form-group">
    <label asp-for="Dto.SentEmailOnError" class="control-label"></label>
    @Html.CheckBoxFor(m => m.Dto.SentEmailOnError)
</div>