@page
@model Hik.Web.Pages.CronEditModel

@{ ViewData["Title"] = "Edit"; }

@{
    var title =$"{@Model.CronDTO.Group}.{@Model.CronDTO.Name}";
    <h4>@title</h4>
}
<div>
    <a asp-page="./Scheduler">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="CronDTO.Name" />
            <input type="hidden" asp-for="CronDTO.Group" />
            <div class="form-group">
                <label asp-for="CronDTO.Cronexpression" class="control-label"></label>
                <input asp-for="CronDTO.Cronexpression" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.Description" class="control-label"></label>
                <input asp-for="CronDTO.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.Job" class="control-label"></label>
                <input asp-for="CronDTO.Job" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.ConfigPath" class="control-label"></label>
                <input asp-for="CronDTO.ConfigPath" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.RunAsTask" class="control-label"></label>
                @Html.CheckBoxFor(m => m.CronDTO.RunAsTask)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

