@page
@model Hik.Web.Pages.CronAddModel


@{ ViewData["Title"] = "New"; }


    <h4>New cron trigger</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="CronDTO.Group" class="control-label"></label>
                <input asp-for="CronDTO.Group" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.Name" class="control-label"></label>
                <input asp-for="CronDTO.Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.Cronexpression" class="control-label"></label>
                <input asp-for="CronDTO.Cronexpression" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.Description" class="control-label"></label>
                <input asp-for="CronDTO.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.Job" class="control-label"></label>
                <input asp-for="CronDTO.Job" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.ConfigPath" class="control-label"></label>
                <input asp-for="CronDTO.ConfigPath" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CronDTO.RunAsTask" class="control-label"></label>
                <input asp-for="CronDTO.RunAsTask" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Scheduler">Back to List</a>
</div>
