@page
@using Hik.Client.Helpers
@model Hik.Web.Pages.SearchModel
@{ViewData["Title"] = "Search";}

@{
      <form>
         <p>
            <select asp-for="JobTriggerId" asp-items="Model.JobTriggersList">
               <option value="">All</option>
            </select>
            @Html.TextBoxFor(m => m.DateTime, "{0:yyyy-MM-dd HH:mm}", new { @class = "datepicker", placeholder = "Enter From date here...", Value = Model.DateTime })
            <input type="submit" value="Filter" />
         </p>
      </form>

      @if(Model.Dto != null && Model.Dto.BeforeRange != null && Model.Dto.BeforeRange.Any())
      {
          <h4>Before</h4>
          @await Html.PartialAsync("_Videos.cshtml", Model.Dto.BeforeRange)
      }

      @if(Model.Dto != null && Model.Dto.InRange != null && Model.Dto.InRange.Any())
      {
          <h4>Files (@Model.Dto.Message)</h4>
          @await Html.PartialAsync("_Videos.cshtml", Model.Dto.InRange)
      }
      else
      {
          <h4>No files found</h4>
      }

      @if(Model.Dto != null && Model.Dto.AfterRange != null && Model.Dto.AfterRange.Any())
      {
          <h4>After</h4>
          @await Html.PartialAsync("_Videos.cshtml", Model.Dto.AfterRange)
      }
}